<div class="container-fluid mt-5 mb-5">
  <div class="row">
    <div class="col-sm">
      <app-area [inputSeries]="series" [inputChart]="chart" [inputXaxis]="xaxis" [inputStroke]="stroke"
        [inputTooltip]="tooltip" [inputDataLabels]="dataLabels"></app-area>
    </div>
    <div class="col-sm">
      <app-area [inputSeries]="series" [inputChart]="chart" [inputXaxis]="xaxis" [inputStroke]="stroke"
        [inputTooltip]="tooltip" [inputDataLabels]="dataLabels"></app-area>
    </div>
    <div class="col-sm">
      <app-area [inputSeries]="series" [inputChart]="chart" [inputXaxis]="xaxis" [inputStroke]="stroke"
        [inputTooltip]="tooltip" [inputDataLabels]="dataLabels"></app-area>
    </div>
    <div class="col-sm">
      <app-area [inputSeries]="series" [inputChart]="chart" [inputXaxis]="xaxis" [inputStroke]="stroke"
        [inputTooltip]="tooltip" [inputDataLabels]="dataLabels"></app-area>
    </div>
  </div>




</div>
