<!--The whole content below can be removed with the new code.-->
<div class="container">
  <form class="form-signin" [formGroup]="changePasswordForm" novalidate>
    <img class="d-block img-fluid mx-auto" src="../../../assets/logo.png" alt="Bootstrap" width="64" height="64">
    <div class="mb-3">
      <label for="password" class="form-label">Nuova Password</label>
      <input type="password" class="form-control" formControlName="password">
      <div
        *ngIf="changePasswordForm.controls['password'].invalid && (changePasswordForm.controls['password'].dirty || changePasswordForm.controls['password'].touched)"
        class="form-text text-danger">
        <div *ngIf="changePasswordForm.controls['password'].errors?.['required']">
          <small>La password e' richiesta</small>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="rewrite_password" class="form-label">Riscrivi Password</label>
      <input type="password" class="form-control" formControlName="rewrite_password">
      <div
        *ngIf="changePasswordForm.controls['rewrite_password'].invalid && (changePasswordForm.controls['rewrite_password'].dirty || changePasswordForm.controls['rewrite_password'].touched)"
        class="form-text text-danger">
        <div *ngIf="changePasswordForm.controls['rewrite_password'].errors?.['required']">
          <small>La password deve combaciare</small>
        </div>
      </div>
    </div>
    <button
      type="button"
      class="w-100 btn btn-primary"
      (click)="onSubmit()"
      (touchstart)="onTouch()"
    >Cambia password</button>
  </form>

  <!--
    <p>Form value: {{ changePasswordForm.value | json }}</p>
    <p>Form status: {{ changePasswordForm.status | json }}</p>

  <a [routerLink]="['home']">Home</a>
  -->
</div>

