.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sidebar {
  height: 100vh;
}


body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

span {
  font-weight: 300;
  margin-left: 5px;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.hover {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  padding: 3px;
  border-radius: 5px;
  -webkit-transition: background-color .1s ease-in-out;
  -moz-transition: background-color .1s ease-in-out;
  -o-transition: background-color .1s ease-in-out;
  transition: background-color .1s ease-in-out;
}

.is-hovered {
  background-color: #AAD2BA;
  border-radius: 5px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }


.btn {
  border: none;
}


/* RESPONSIVE */

/* Smartphone */
@media (max-width: 600px) {
  .sidebar-text {
      display: none;
  }

  .sidebar {
    width: fit-content;
    height: auto;
  }
}


/* Tablet */
@media (max-width: 900px) {
  .sidebar-text {
      display: none;
  }

  .sidebar {
    width: fit-content;
    height: auto;
  }
}
