<div class="wrapper">

  <div class="sidebar flex-shrink-0 p-3 bg-white" >
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <img src="../assets/logo.png" class="bi me-2" width="64" height="64" alt="">
      <span class="fs-5 fw-regular sidebar-text">Restaurant Manager</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button [routerLink]="'home'" class="btn align-items-center rounded" (click)="onClick('is_hovered_home', 'is_hovered_home_img')">
          <div class="icon-container">
            <div id="is_hovered_home" class="menu-item hover is-hovered align-items-center">
              <img id="is_hovered_home_img"width="32" height="32" src="../assets/home-page_green.png" class="is_hovered_img"/>
            </div>
            <span class="sidebar-text">Home</span>
          </div>
        </button>
      </li>
      <li class="mb-1">
        <button class="btn align-items-center rounded" (click)="onClick('is_hovered_utenti', 'is_hovered_utenti_img')">
          <div class="icon-container">
            <div id="is_hovered_utenti" class="menu-item hover align-items-center">
              <img id="is_hovered_utenti_img" width="32" height="32" src="../assets/users_black.png" class="is_hovered_img"/>
            </div>
            <span class="sidebar-text">Utenti</span>
          </div>
        </button>
        <!--<div class="collapse" id="pm3-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a  class="link-dark rounded" [routerLink]="'panoramica-pm3'">Lista utenti</a></li>
            <li><a  class="link-dark rounded" [routerLink]="'add-pm3'">Aggiungi utente</a></li>
            <li><a  class="link-dark rounded" [routerLink]="'find-pm3'">Modifica utente</a></li>
          </ul>
        </div>-->
      </li>
      <li class="mb-1">
        <button class="btn align-items-center rounded" (click)="onClick('is_hovered_statistiche', 'is_hovered_statistiche_img')">
          <div class="icon-container">
            <div id="is_hovered_statistiche" class="menu-item hover align-items-center">
              <img id="is_hovered_statistiche_img" width="32" height="32" src="../assets/chart_black.png" class="is_hovered_img"/>
            </div>
            <span class="sidebar-text">Statistiche</span>
          </div>
        </button>
      </li>
      <li class="mb-1">
        <button class="btn align-items-center rounded" (click)="onClick('is_hovered_menu', 'is_hovered_menu_img')">
          <div class="icon-container">
            <div id="is_hovered_menu" class="menu-item hover align-items-center">
              <img id="is_hovered_menu_img"width="32" height="32" src="../assets/menu_black.png" class="is_hovered_img"/>
            </div>
            <span class="sidebar-text">Menu</span>
          </div>
        </button>
      </li>
      <li class="mb-1">
        <button class="btn align-items-center rounded" (click)="onClick('is_hovered_piatti', 'is_hovered_piatti_img')">
          <div class="icon-container">
            <div id="is_hovered_piatti" class="menu-item hover align-items-center">
              <img id="is_hovered_piatti_img" width="32" height="32" src="../assets/piatti_black.png" class="is_hovered_img"/>
            </div>
            <span class="sidebar-text">Piatti</span>
          </div>
        </button>
      </li>
    </ul>
  </div>

  <div class="container contenuto-principale">
    <router-outlet></router-outlet>
  </div>

</div>
