<div class="container mt-3">
  <h1 class="mb-3">Modifica menu</h1>
  <form [formGroup]="updateMenuForm">
    <div class="mb-3">
      <label for="nome_menu" class="form-label">Nome menu</label>
      <input formControlName="nome_menu" type="text" class="form-control" id="nome_menu">
    </div>
    <div class="mb-3">
      <label for="attivo" class="form-label">Attivo</label>
      <input class="form-check-input" type="checkbox" formControlName="attivo" id="attivo">
    </div>
    <div class="mb-3">
      <label for="seleziona_piatti" class="form-label">Seleziona piatti</label>

      <div>
        <!--<select formControlName="seleziona_piatti" class="selectpicker" multiple aria-label="size 3 select example">
          <option [ngValue]="piatti">Four</option>
        </select>-->


        <!--<select multiple data-show-subtext="true" data-live-search="true" class="selectpicker" aria-label="size 3 select example" name="seleziona_piatti" formControlName="seleziona_piatti" [formControl]="piattiControl">
          <option *ngFor="let piatto of piatti" [value]="piatto.nome" attr.data-subtext={{piatto.nome}}>
            {{ piatto.nome }}
          </option>
        </select> -->

        <select multiple *ngIf="piatti" id="select_picker" class="selectpicker" data-live-search="true" formControlName="seleziona_piatti">
          <option *ngFor="let piatto of piatti" [value]="piatto.nome" >{{piatto.nome}} </option>
        </select>


      </div>

    </div>
    <button type="submit" (click)="onSubmit()" class="btn btn-primary mt-3">Aggiorna</button>
  </form>
</div>

